/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: #f4f4f4;
}

/* Contenedor principal */
.father-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
}

/* Sección izquierda (formulario de inicio de sesión) */
.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navegación (logo de Consalud) */
.nav{
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

/* Sección derecha (información sobre Consalud Mobile) */
.container2 {
    width: 50%;
    height: 100vh;
    background: #00b8b0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.container2 h2{
    color: #fff;
}

/* Márgenes para los elementos dentro de container2 */
.container2 p, .container2 h2, .container2 button{
    margin: 30px 50px 0px;
}

/* Ajuste de ancho para los párrafos y botones dentro de container2 */
.container2 p{
    width: 60%;
}

.container2 button{
    width: 40%;
}

/* Espaciado superior en la sección de elementos informativos */
.cont-elem{
    margin-top: 20%;
}

/* Estilos del logo */
.logo {
    width: 150px;
}

/* Estilos de los títulos */
h2 {
    color: #333;
}

/* Resaltar palabras clave */
.highlight {
    color: #00b8b0;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

/* Estilos de los campos de entrada */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
}

/* Enlace para recuperar la contraseña */
.forgot {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

/* Botón principal */
.btn {
    background: #00b8b0;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

/* Botón secundario (ingresar con huella) */
.btn-secondary {
    background: none;
    color: #00b8b0;
    border: 2px solid #00b8b0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

/* Botón informativo (cómo instalar la app) */
.btn-info {
    background: white;
    color: #00b8b0;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

/* Enlace para volver a la página principal */
.back {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #00b8b0;
    font-size: 14px;
}