*{
    margin: 0;
    padding: 0;
    /*outline: solid black 1px;*/
}

main{
    margin: 10px;
}

nav {
    color: #fff;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav1 {
    flex: 2;
}

.nav1 h2{
    font-size: 50px;
}

.nav2 {
    flex: 1;
    margin-left: 40px;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

ul button{
    color: #fff;
    border: none;
    cursor: pointer;
    background: none;
    padding: 7px;
}

.cerrar_sesion{
    background: #3798DC;
    border-radius: 5px;
}

.header{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 100px;
    background-color: #3798DC;
}

.father_container{
    background-color: #EDF0F2;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.container_1 a{
    color: #3798DC;
}

.container_1{
    background-color: #fff;
    border-radius: 15px;
    flex: 1 1 300px;
    text-align: center;
    height: 300px;
}

.user-photo {
    width: 100px;
    margin-top: -7%; 
    margin-left: auto;
    margin-right: auto;

}

.container_2{
    flex: 1;
}

.container_1, .container_2{
    margin: 35px;
}

.sub_cont{
    margin-top: 10px;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
}

.header_sc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_sc h2{
    padding-right: 20px;
    font-size: 18px;
}

.header_sc button{
    background-color: #fff;
    padding: 5px;
    border-color: #48A1DF;
    color: #48A1DF;
    border-radius: 5px;
    cursor: pointer;
}

.cont_sc{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_rq {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_rq img{
    width: 40px;
}

.users_r{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.users_r a {
    flex: 1;
}