*{
    margin: 0;
    padding: 0;
    outline: solid black 1px;
}

main{
    margin: 10px;
}

nav {
    color: #fff;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav1 {
    flex: 2;
}

.nav1 h2{
    font-size: 50px;
}

.nav2 {
    flex: 1;
    margin-left: 40px;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

ul button{
    color: #fff;
    border: none;
    cursor: pointer;
    background: none;
    padding: 7px;
}

.cerrar_sesion{
    background: #3798DC;
    border-radius: 5px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #3798DC;
}

.father_container{
    margin-top: 10px;
    display:flex;
    justify-content: space-around;
}

.header_sc{
    display: flex;
    justify-content: space-around;
}

.cont_sc{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_rq img{
    width: 40px;
}

.users_r{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.users_r img, .users_r a{
}