*{
    padding: 0;
    margin: 0;
    outline: solid black 1px;
}

/* ELEMENTOS DEL BODY */
body {
    font-family: "Courier New", monospace;
    background-color: #1a1a2e;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: #eaeaea;
}

/* NAV DESPLEGABLE */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #1a1a2e;
    padding: 20px 20px;
    color: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 4px solid #ffcc00;
    transition: width  0.4s ease;
}

.nav:hover {
    width: 20%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.nav:hover .logo {
    overflow: visible;
}

.menu-lateral li {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    justify-content: start;
}

.nav:hover .menu-lateral li {
    overflow: visible;
}

.nav h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #ffcc00;
    margin: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav ul li {
    background-color: #29304d;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav ul li:hover {
    background-color: #3e4a6b;
}

.father_container{
    margin-top: 15px;
    height: 100%;
    width: 100%;
    margin-left: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.f_cont{
    padding: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.data1, .data2, .data3, .data4, .data5, .data6 {
    flex-wrap: wrap;
}

.cont2{
    flex-direction: column;
}

.cont3{
    flex-direction: column;
}

.cont4 {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.sub_data2, .sub_data3, .sub_data4, .sub_data5{
    display: flex;
    flex-wrap: wrap;
}

.data1{
    flex: 2;
    display: flex;
    align-items: center;
}

.data2{
    flex: 5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.data3, .data4{
    display: flex;
    width: 100%;
}

.data5{
    flex: 2;
    display: flex;
    align-items: stretch;
    height: 100%;
}

.data6{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.la1, .la4{
    flex: 5;
}

.la2, .la3{
    flex: 4;
}

.PSG1, .PSG3{
    flex: 2;
}

.PSG2, .PSG4{
    flex: 5;
}

.FCB1{
    max-width: 300px;
}

.tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16213e;
    margin: 20px;
    height: 35vh;
    width: 100%;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.tarjeta:hover{
    transform: scale(1.03);
}

.celt2{
    font-size: 20px;
}

.celt4{
    font-size: 23px;
}

.imgb1{
    width: 200px;
    height: 90%;
}

img{
    border-radius: 10px;
}

.imgb2{
    width: 85%;
    height: 90%;
}

.bold{
    font-weight: bold;
}