* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: solid 1px red;
}

body {
    font-family: "Courier New", monospace;
    background-color: #f2f4f8;
}

.contenedor {
    display: flex;
    height: 100%;
}

/* NAV FIJA */
.nav {
    background-color: #37474f;
    color: white;
    width: 20%;
    height: 100vh;
    position: fixed;
    min-width: 180px;  /* evita que se haga muy pequeño */
    max-width: 280px;  /* evita que se haga muy grande */
    top: 0;
    left: 0;
    padding: 20px;
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffd54f;
}

.area-principal {
    margin-left: 200px;
    flex: 1;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

.contenido {
    width: 100%;
    max-width: 800px;
}

.galeria{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px 50px;
}

.celtics{
    display: flex;
    background-color: #058C54;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.cont2 {
    flex-direction: column;
}

.datos_equipos1 {
    flex-wrap: wrap;
    gap: 10px;
}

.tarjeta {
    flex: 1 1 250px;
    min-width: 250px;
    padding: 35px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.tarjeta:hover{
    transform: scale(1.05);
}

img{
    width: 100px;
    height: 100px;
}